@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #09090b !important;
  color: white;
}

.no-padding {
  padding: 0 !important;
}

.big-text {
  font-weight: 600;
  font-size: 17pt;
}